<!-- Content of site-->
<div class="container-fluid">
    <div class="achie-title">
        <h1>Thông tin cá nhân</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <img
                id="avatar"
                src=""
                alt="Avatar"
                class="col-12 col-md-3 rounded float-left"
            />

            <div class="info col-12 col-md-9 h-75">
                <p id="nameinfo" class="my-0">
                    <strong>Giáo viên: </strong>
                </p>
                <p id="emailinfo" class="my-0">
                    <strong>Email: </strong>
                </p>
                <p id="passwordinfo" class="my-0">
                    <strong>Password: **************</strong>
                </p>

                <div
                    style="display: inline-block;"
                    class="d-flex justify-content-end"
                >
                    <button class="btn btn-warning btn-shadow">
                        Cập nhật
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Optional JavaScript -->
<script src="/javascripts/profile.js"></script>