body {
    background-image: url("../resource/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main-nav {
    background-color: #232f3e;
}
.nnav {
    display: flex;
    list-style: none;
    align-items: center;
}
#logo {
    width: 110px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.font-white {
    color: #f2e8dc;
}

.news-out {
    background-color: #232f3e;
    color: #f2e8dc;
    height: 70vh;
    border-radius: 4vh;
    margin-top: 10vh;
    padding: 1vh;
}

.news-in {
    color: #f2e8dc;
    border-radius: 3vh;
    padding-bottom: 2vh;
    list-style-type: none;
    background-color: #31485a;
    height: 90%;
    border-radius: 3vh;
    overflow: auto;
    -ms-overflow-style: none;
}

.news-in::-webkit-scrollbar {
    display: none;
}

.news-title {
    text-align: center;
    font-size: 4vh;
}

.btn-create {
    background-image: linear-gradient(
        to right,
        #ff8008 0%,
        #ffc837 51%,
        #ff8008 100%
    );
    margin-top: 30vh;
<<<<<<< HEAD
    margin-bottom: 10vh;
=======
>>>>>>> c186c26fdfe6dd5eb57b4f2e73570bdbe6b13d49
    width: 30vh;
    height: 30vh;
    color: #232f3e;
    font-size: 4vh;
}

.news-in li {
    margin: 3vh;
    word-wrap: break-word;
}

.news-line {
    font-size: 2vh;
    color: #f2e8dc;
}

.btn-create-event {
    background-image: linear-gradient(
        to right,
        #ff8008 0%,
        #ffc837 51%,
        #ff8008 100%
    );
    margin-top: 7vh;
    border-radius: 50px;
    color: #232f3e;
    font-size: 3vh;
    height: 7vh;
}

.input-form[type="text"] {
    background-color: #31485a;
    font-size: 2vw;
    color: #f2e8dc;
}

.input-form[type="text"]:focus {
    background-color: #31485a;
    color: #f2e8dc;
}

.input-row {
    height: 20%;
    margin: 2vw;
}

#input-label {
    height: 100%;
    background-color: #31485a;
    display: flex;
    align-items: center;
    color: #777777;
    font-size: 2vw;
}

::placeholder {
    color: #777777;
}

#input-label.custom-file-label::after {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #31485a;
    color: #777777;
}

#customFile {
    font-size: 2vw;
}

.modal-body {
    display: flex;
    background-color: #232f3e;
    color: #f2e8dc;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    text-align: center;
}

.modal-content .modal-footer {
    display: flex;
    background-color: #232f3e;
    justify-content: space-around;
    align-items: center;
}

.modal-content {
    height: 30vh;
}

.btn-confirm {
    background-image: linear-gradient(
        to right,
        #ff8008 0%,
        #ffc837 51%,
        #ff8008 100%
    );
    color: #232f3e;
    font-size: 2vw;
    height: 5vh;
    width: 30%;
}

.modal-footer .rounded {
    border-radius: 3vh !important;
}

.out-key {
    background-color: #232f3e;
    color: #f2e8dc;
    height: 20vh;
    border-radius: 4vh;
    margin-top: 30vh;
    position: absolute;
    padding: 2vh;
}

.input-key {
    margin: 2vh;
    height: 12vh;
}

.form-out {
    background-color: #232f3e;
    color: #f2e8dc;
    height: 70%;
    border-radius: 4vh;
    margin-top: 10vh;
    padding: 1vh;
}
