body {
    background-image: url("../resource/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main-nav {
    background-color: #232f3e;
    display: flex;
    height: 70px;

    padding-left: 70px;
    padding-right: 70px;
}
.nnav {
    display: flex;
    list-style: none;
    align-items: center;
}
#logo {
    width: 110px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.font-white {
    color: #f2e8dc;
}

.news-out {
    background-color: #232f3e;
    color: white;
    height: 70vh;
    border-radius: 4vh;
    margin-top: 100px;
    position: absolute;
    padding: 5px;
}

.news-in {
    color: white;
    border-radius: 3vh;
    padding: 15px;
    list-style-type: none;
    background-color: #31485a;
    height: 90%;
    border-radius: 3vh;
    overflow: auto;
}
.news-title {
    text-align: center;
    font-size: 32px;
}

.btn-create {
    background-image: linear-gradient(
        to right,
        #ff8008 0%,
        #ffc837 51%,
        #ff8008 100%
    );
    margin-top: 200px;
    margin-right: 80px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    color: #232f3e;
    font-size: 30px;
}

.news-in li {
    margin: 20px;
    word-wrap: break-word;
}

.news-line {
    font-size: 16px;
    color: white;
}

.btn-create-event {
    background-image: linear-gradient(
        to right,
        #ff8008 0%,
        #ffc837 51%,
        #ff8008 100%
    );
    margin-top: 7vh;
    border-radius: 50px;
    color: #232f3e;
    font-size: 3vh;
    height: 5vh;
}

.input-form[type="text"] {
    background-color: #31485a;
    height: 100%;
    font-size: 5vh;
}

.custom-file-input[type="file"] {
    background-color: #31485a;
    height: 100px;
    font-size: 5vh;
}

.input-form[type="text"]:focus {
    background-color: #31485a;
}

.input-form[type="file"]:focus {
    background-color: #31485a;
}

.input-form[type="text"]:disabled {
    background-color: #31485a;
}

.input-row {
    height: 20%;
    margin: 7vh;
}

.my-div {
    background-color: #31485a;
}

#input-label {
    height: 100%; 
    background-color: #31485a; 
    display: flex; 
    align-items: center;
    color: #777777;
    font-size: 5vh;
}

#input-label>button {
    color: red;
}

::placeholder {
    color: #777777;
}

#input-label.custom-file-label::after {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #31485a;
    color: #777777;
}