body {
    background-image: url("../resource/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main-nav {
    background-color: #232f3e;
    display: flex;
    height: 70px;

    padding-left: 70px;
    padding-right: 70px;
}
.nnav {
    display: flex;
    list-style: none;
    align-items: center;
}
#logo {
    width: 110px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.font-white {
    color: #f2e8dc;
}
.info {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 15px;
}
.achie-title {
    color: black;
    display: flex;
    width: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-weight: bold;
}
.achie-table {
    background-color: rgba(35, 47, 62, 0.8);
    padding: 10px;
    text-align: center;
}
tr {
    color: #f2e8dc;
}
.news-out {
    background-color: #232f3e;
    color: #f2e8dc;
    position: absolute;
}
.news-in {
    background-color: #31485A;
    color: #f2e8dc;
    height: calc(100% - 71px);
    margin: 0px;
    position: absolute;
    list-style-type: none;
}
.news-title {
    text-align: center;
    font-size: 32px;
    margin: 0px;
}
.news-in li {
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
}
.news-line {
    font-size: 16px;
    color: white;
}
.homepage-box {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
}
.card {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    height: 70vh;
}
.card-img-top {
    height: 40vh;
}
.card-text {
    height: 10vh;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0) !important;
    padding-top: 32px;
}
.img-fluid {
    padding: 30px;
    height: 28vh !important;
    width: 80%;
}
.btn-container {
    margin: 0px !important;
    background-color: #232f3e;
    height: 8vh;
}
.btn-focus {
    background-color: #232f3e !important;
    color: #f2e8dc !important;
    cursor: auto !important;
    height: 8vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.btn-unfocus {
    background-color: #31485A !important;
    color: #f2e8dc !important;
    height: 8vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.form {
    background-color: #232f3e;
    height: 50vh;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form-control {
    border-color: #31485A !important;
    background-color: #31485A !important;
    padding-left: 0px !important;
    color: #f2e8dc !important;
    height: 8vh !important;
}
.form-control::placeholder {
    color: #f2e8dc !important;
    opacity: 1;
}
.material-icons {
    width: 38px;
    color: #f2e8dc;
    background-color: #31485A;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
.form-check {
    display: flex !important;
    justify-self: center;
    height: 8vh !important;
    margin: 0px !important;
    padding-left: 0px !important;
}
.form-check-input {
    align-self: center;
    margin: 0px !important;
    height: 8vh !important;
}
.form-check-label {
    align-self: center;
    color: #f2e8dc;
    padding-left: 20px;
    height: 8vh !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}   
#div-login-signup {
    display: flex;
    justify-content: center;
}
#btn-login-signup {
    min-width: 50%;
}