body {
    background-image: url("../resource/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.background {
    background-color: rgba(35, 47, 62, 0.8) !important;
    color: #f2e8dc;
}
.main-nav {
    background-color: #232f3e;
}

.nnav {
    display: flex;
    list-style: none;
    align-items: center;
}
#logo {
    width: 110px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.font-white {
    color: #f2e8dc;
}
.title {
    color: #074006;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-weight: bold;
}
.bxh {
    background-color: rgba(35, 47, 62, 0.8);
    padding: 10px;
    text-align: center;
}
tr {
    color: #f2e8dc;
}
.image {
    display: flex;
    justify-content: center;
}
.card {
    font-size: large;
    padding: 20px;
}
.image-test {
    width: 100%;
}

.hint {
    position: relative;
    height: 250px;
    margin: 50px;
    padding: 20px;
    perspective: 1000px;
}
.flip-card {
    position: relative;
    height: 100%;
    width: 100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card.is-flipped {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-image: linear-gradient(
        90deg,
        rgba(255, 128, 8, 1) 0%,
        rgba(255, 200, 55, 1) 100%
    );
}
.card-front {
}

.card-back {
    transform: rotateY(180deg);
}
.next-previous {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-next,
.btn-previous {
    color: #f2e8dc;
    background-color: #ffc73b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
}
.material-icons.md-48 {
    font-size: 48px;
}
