<div class="container-fluid">
    <div class="row my-5 justify-content-betwen">
        <!-- 3 cards -->
        <div class="row col-lg-8 col-sm-8">
            <div class="card card-quan col-lg col-sm-12">
                <img
                    src="/resource/homepage-test.jpg"
                    class="card-img-top"
                    alt="..."
                    style="margin-top: 10px;"
                />
                <div class="card-body">
                    <p class="card-text">
                        Thi thử tính giờ làm bài các môn Toán, Văn,
                        Lý, Hóa, Sử, Địa...
                    </p>
                    <a
                        href="/users/student/Ssearchtest"
                        class="btn btn-warning btn-shadow"
                        >Làm thử bài thi</a
                    >
                </div>
            </div>
            <div
                class="card card-quan col-lg col-sm-12"
                style="margin-left: 10px;"
            >
                <img
                    src="/resource/homepage-review.jpg"
                    class="card-img-top"
                    alt="..."
                    style="margin-top: 10px;"
                />
                <div class="card-body">
                    <p class="card-text">
                        Làm bài ôn tập theo từng chuyên đề, cải
                        thiện riêng những phần còn yếu.
                    </p>
                    <a
                        href="/users/student/Ssearchreview"
                        class="btn btn-warning btn-shadow"
                        >Luyện chuyên đề</a
                    >
                </div>
            </div>
            <div
                class="card card-quan col-lg col-sm-12"
                style="margin-left: 10px;"
            >
                <img
                    src="/resource/homepage-event.jpg"
                    class="card-img-top"
                    alt="..."
                    style="margin-top: 10px;"
                />
                <div class="card-body">
                    <p class="card-text">
                        Tham gia cuộc thi trực tiếp do các thầy cô
                        ra đề.
                    </p>
                    <a
                        href="/users/student/Sevent"
                        class="btn btn-warning btn-shadow"
                        >Tham gia cuộc thi</a
                    >
                </div>
            </div>
        </div>
        <!-- news -->
        <div
            class="col-lg-4 col-sm-12 news-out"
            style="margin-left: 10px;"
        >
            <h1 class="news-title">Bảng tin</h1>
            <ul class="news-in col-12" id="news-board"></ul>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<script src="/javascripts/Shomepage.js"></script>