<div class="container-fluid">
    <div class="achie-title">
        <h1>Thông tin cá nhân</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <img
                id="avatar"
                src=""
                alt="Avatar"
                class="col-3 rounded float-left"
            />

            <div class="info col-9 h-100">
                <p id="nameinfo" class="my-0">
                    <strong>Tên: </strong>
                </p>
                <p id="emailinfo" class="my-0">
                    <strong>Email: </strong>
                </p>
                <p id="passwordinfo" class="my-0">
                    <strong>Password: **************</strong>
                </p>

                <div
                    style="display: inline-block;"
                    class="d-flex justify-content-end"
                >
                    <button class="btn btn-warning btn-shadow">
                        Cập nhật
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="achie-title">
        <h2>Thành tích</h2>
    </div>
    <div class="row">
        <table id="achievement" class="table achie-table rounded">
            <thead class="rounded">
                <tr class="font-white rounded">
                    <th class="rounded" scope="col">Đề</th>
                    <th class="rounded" scope="col">Điểm</th>
                </tr>
            </thead>
            <tbody id="achiebody">
                <!-- <tr class="font-white">
            <th scope="row">De</th>
            <td>Diem</td>
          </tr> -->
            </tbody>
        </table>
    </div>
</div>


<!-- Optional JavaScript -->
<script src="/javascripts/profile.js"></script>