<div style="height: 70px;"></div>
            <div class="title"><h1>Chuyên đề hóa học hữu cơ</h1></div>
            <div class="container">
                <div class="card background">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <p>
                                Câu 8: Chọn phát biểu đúng về sự khác biệt tính
                                chất của glucozo và saccarozo
                            </p>
                            <p></p>
                            <form>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="A"
                                        />
                                        <p id="a">
                                            Glucozo có tính chất của 1 anđehit
                                            còn saccarozo thì không có tính chất
                                            của 1 andehit
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="B"
                                        />
                                        <p id="b">
                                            Saccarozo là đường nho và glucozo là
                                            đường mía
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="C"
                                        />
                                        <p id="c">
                                            Glucozo hòa tan Cu(OH)2 cho dung
                                            dịch phức xanh lam, còn saccarozo
                                            thì không có phản ứng này
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="D"
                                        />
                                        <p id="d">
                                            Saccarozo tác dụng H2SO4 đậm đặc đun
                                            nóng bị hóa đen, còn glucozo thì
                                            không có phản ứng này
                                        </p>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-md-2 image">
                            <img
                                class="image-test"
                                src="resource/homepage-review.jpg"
                                alt="abc"
                            />
                        </div>
                    </div>
                </div>
                <div class="hint">
                    <div class="flip-card">
                        <div class="card-front">
                            Nhấn để xem giải thích!!!
                        </div>
                        <div class="card-back">
                            Bởi vì nó là thế ă!
                        </div>
                    </div>
                </div>
                <div class="next-previous">
                    <button class="btn-next">
                        <span class="material-icons md-48">
                            arrow_back
                        </span>
                    </button>
                    <button class="btn-previous">
                        <span class="material-icons md-48">
                            arrow_forward
                        </span>
                    </button>
                </div>
            </div>
<script src="/javascripts/Sreview.js"></script>