<div style="height: 70px;"></div>
            <div class="title"><h1>LUYỆN TẬP</h1></div>
            <div class="container">
                <div class="card background">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p id = "content">
                                
                            </p>
                            <p></p>
                            <form>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="A"
                                        />
                                        <p id="a">
                                            
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="B"
                                        />
                                        <p id="b">
                                            
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="C"
                                        />
                                        <p id="c">
                                            
                                        </p>
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <label class="form-check-label">
                                        <input
                                            type="radio"
                                            class="form-check-input"
                                            name="optradio"
                                            value="D"
                                        />
                                        <p id="d">
                                            
                                        </p>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="hint">
                    <div class="flip-card">
                        <div class="card-front">
                            Nhấn để xem giải thích!!!
                        </div>
                        <div class="card-back" id = 'sol'>
                        </div>
                    </div>
                </div>
                <div class="next-previous">
                    <button class="btn-next" onclick="Previous()">
                        <span class="material-icons md-48" >
                            arrow_back
                        </span>
                    </button>
                    <button class="btn-previous" onclick="Next  ()">
                        <span class="material-icons md-48">
                            arrow_forward
                        </span>
                    </button>
                </div>
            </div>
<script src="/javascripts/Sreview.js"></script>