<div style="height: 80px;"></div>
<div class="title"><h1>Bảng xếp hạng</h1></div>
<div class="container">
    <table class="table rounded bxh">
        <thead>
            <tr>
                <th scope="col">Thứ hạng</th>
                <th scope="col">Họ và tên</th>
                <th scope="col">Điểm</th>
            </tr>
        </thead>
        <tbody id="rank"></tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<script src="/javascripts/Tscoreboard.js"></script>