
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            
<div style="height: 100px;"></div>
        
    <div class ="container search">
        <class class="dropdown">
            <button class="dropbtn material-icons">filter_list</button>
                <div class="dropdown-content">
                    <h3 class="dropdown-header">Môn</h3>
                        <span id="subjects">
                        <button class="col-1.5 filterBtn active" id="all">Tất cả</button>
                        <button class="col-1.5 filterBtn" id="TO">Toán</button>
                        <button class="col-1.5 filterBtn" id="LI">Vật lý</button>
                        <button class="col-1.5 filterBtn" id="HO">Hóa học</button>
                        <button class="col-1.5 filterBtn" id="SI">Sinh học</button>
                        <button class="col-1.5 filterBtn" id="TA">Tiếng anh</button>
                        <button class="col-1.5 filterBtn" id="SU">Lịch sử</button>
                        <button class="col-1.5 filterBtn" id="DI">Địa lý</button>
                        <button class="col-2.5 filterBtn" id="GD">Giáo dục công dân</button>
                    </span>
                    <h3 class="dropdown-header">Mức độ</h3>
                    <span id="levels">
                        <button class="col-1.5 filterBtn active2" id="all">Tất cả</button>
                        <button class="col-1.5 filterBtn" id="D">Dễ</button>
                        <button class="col-1.5 filterBtn" id="V">Trung bình</button>
                        <button class="col-1.5 filterBtn" id="K">Khó</button>
                        </span>
                </div>
        </class>
                <input class="input" id="myInput" type="text" placeholder="Tìm kiếm...">
    </div>

<div style="height: 100px;"></div>

<div class="container-fluid">
    <div class="row" id="testList">
                    <!-- Choice test -->
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="noneFlex modal-body text-center mb-5">
                    <h1 class="popup">Bạn đã sẵn sàng làm bài thi thử?</h1>
                    <div class="btn-group" id="abc">
                        <button type="button" class="btn btn-secondary btn-lg mr-2 rounded-lg" data-dismiss="modal">Chưa</button>
                        <button type="button" class="btn btn-success btn-lg rounded-lg" id="startTest">Bắt đầu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- Optional JavaScript -->
<script src="/javascripts/Ssearchtest.js"></script>
